:root {
  /* COLORS */
  --atWhite: #eeeeee;
  --atBlue: #00adb5;
  --atGrey: #393e46;
  --atBlack: #222831;
  --atOrange: #ffa500;

  --atFilterWhite: invert(98%) sepia(4%) saturate(277%) hue-rotate(232deg)
    brightness(116%) contrast(87%);
  --atFilterBlue: invert(44%) sepia(92%) saturate(1165%) hue-rotate(147deg)
    brightness(93%) contrast(101%);
  --atFilterGrey: invert(22%) sepia(6%) saturate(1071%) hue-rotate(178deg)
    brightness(94%) contrast(89%);
  --atFilterBlack: invert(11%) sepia(5%) saturate(2803%) hue-rotate(177deg)
    brightness(93%) contrast(88%);
  --atFilterOrange: invert(64%) sepia(33%) saturate(1660%) hue-rotate(359deg)
    brightness(101%) contrast(104%);

  /* STYLE VARIABLES */
  --atBorderRadius: 30px;
  /* --atBoxShadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000; */
  --atBoxShadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
  /* --sectionPadding: 7rem 0 0 0; */
  --sectionPadding: 5rem 0;

  /* LAYOUT VARIABLES */
  --atMobilePageMinWidth: calc(100% - 20px);
  --atTabletPageMinWidth: 668px;
  --atDesktopPageMinWidth: 1024px;
}

/* FONTS */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

/* MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--atWhite);
}

a:hover {
  color: var(--atBlue);
}

body {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--atWhite);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BUTTONS */
button {
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  padding: 1rem 2rem;
  outline: 0;
  border-radius: var(--atBorderRadius);
  box-shadow: var(--atBoxShadow);
  transition: all 0.3s ease-in-out;
  font-size: inherit;
}

.button-primary {
  border: 2px solid var(--atBlue);
}

.button-primary:hover {
  background-color: var(--atBlue);
}

.button-secondary {
  border: 2px solid var(--atWhite);
}

.button-secondary:hover {
  background-color: var(--atWhite);
  color: var(--atBlack);
}

/* THEME */
.theme--white {
  background-color: var(--atWhite);
  color: var(--atBlack);
}

.theme--blue {
  background-color: var(--atBlue);
  color: var(--atWhite);
}

.theme--grey {
  background-color: var(--atGrey);
  color: var(--atWhite);
}

.theme--black {
  background-color: var(--atBlack);
  color: var(--atWhite);
}

/* LAYOUT  */
.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__content {
  width: var(--atMobilePageMinWidth);
}

.title {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
  text-align: center;
}

.sub-title {
  text-align: center;
  /* font-weight: bold; */
}

.bold {
  font-weight: bold;
}

/* NAVIGATION */
.navigation {
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  font-weight: bold;
}

.navigation__logo::before {
  content: 'A';
  background-color: var(--atBlue);
  display: inline-block;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  text-align: center;
  line-height: 3rem;
}

.navigation__logo::after {
  content: '.';
  display: inline-block;
  color: var(--atBlue);
  margin-left: 0.5rem;
}

.navigation__menu {
  background-color: var(--atBlack);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 7rem;
  left: 0rem;
  display: none;
}

.js-navigation__menu--open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  animation: opacityUp 0.25s;
}

.navigation__hamburger-menu-icon {
  filter: var(--atFilterWhite);
  height: 4rem;
  cursor: pointer;
}

/* HOME */
.home {
  padding: 7rem 0 0 0;
}

.home__content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 7rem);
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.home__photo {
  height: 25rem;
  border: 2rem solid var(--atGrey);
  border-radius: 50%;
  box-shadow: var(--atBoxShadow);
  margin-top: 5rem;
  animation: slideTop 1s ease-out, float 5s ease 3s infinite;
  /* -webkit-animation: float 5s ease infinite;
  -moz-animation: float 5s ease infinite;
  -o-animation: float 5s ease infinite; */
}

/* .home__photo:hover {
  animation: none;
  transform: rotate(25deg);
} */

.home__presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slideRight 1s ease-out;
}

.home__presentation-main {
  font-size: 3.6rem;
}

.home__presentation-name {
  color: var(--atBlue);
}

.home__presentation-role {
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.2rem solid var(--atOrange); /* The typwriter cursor */
  white-space: nowrap;
  /* margin: 0 auto; */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.home__presentation-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.home__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__down-arrow-icon {
  filter: var(--atFilterBlue);
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

/* ABOUT */
.about {
  padding: 7rem 0;
}

.about__content {
  display: grid;
  align-items: center;
  gap: 3rem;
}

.about__photo {
  width: 100%;
  box-shadow: var(--atBoxShadow);
  border-radius: var(--atBorderRadius);
  transition: all 0.3s ease-in-out;
}

.about__photo:hover {
  transform: scale(1.1);
}

.about__description::first-line {
  font-weight: bold;
}

.var-highlight {
  color: var(--atBlue);
}
.string-highlight {
  color: var(--atOrange);
  border-color: 2px solid red;
}

#typewriter {
  margin: 1rem 0;
  font-family: 'Courier New';
}

#typewriter:after {
  content: '|';
  animation: blink 500ms linear infinite alternate;
}

/* MEDIA QUERY - TABLET */
@media only screen and (min-width: 668px) {
  body {
    font-size: 1.6rem;
  }

  .section__content {
    width: var(--atTabletPageMinWidth);
  }

  .about__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA QUERY - DESKTOP */

@media only screen and (min-width: 1024px) {
  a:hover {
    padding-bottom: 0.5rem;
  }

  .section__content {
    width: var(--atDesktopPageMinWidth);
  }

  .title {
    text-align: initial;
  }

  .sub-title {
    text-align: initial;
  }

  /* NAVIGATION */
  .navigation__menu {
    background-color: initial;
    width: fit-content;
    height: initial;
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }

  .navigation__hamburger-menu-icon {
    display: none;
  }

  /* HOME */
  .home__content {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: initial;
    position: relative;
  }

  .home__photo {
    margin-top: 0;
    height: 40rem;
  }

  .home__presentation {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .home__presentation-main {
    font-size: 4.8rem;
  }

  .home__footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  /* ABOUT */

  .about__photo {
    width: 80%;
  }
}

/* ANIMATION */
@keyframes opacityUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(500px);
  }
  50% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0px);
  }
  87.5% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(50px);
  }
  75% {
    transform: translateX(0px);
  }
  87.5% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes float {
  0% {
    box-shadow: var(--atBoxShadow);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: var(--atBoxShadow);
    transform: translatey(0px);
  }
}

@keyframes bounce {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--atOrange);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: var(--atOrange);
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: var(--atOrange);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: var(--atOrange);
  }
}
